<div class="row">
  <% @potenical_to_follow.each do |user| %>
    <div class="col-lg-4">
      <div class="card">
        <h5 class="card-header"> 
          <%= image_tag(user.avatar, class: 'ul-w-100-forced rounded-circle mr-3', style: 'width: 90px; height: 90px') %> <%= user.name %>
          <br>
          <span style="font-size:14px;">Followers:</span> <span style="font-size:16px;" class="badge badge-info mr-3"><%= user.followers.count %></span>
          <span style="font-size:14px;">Following:</span> <span style="font-size:16px;" class="badge badge-info"><%= user.following.count %></span>
        </h5>
        <div class="card-body">
          Email:<p class="card-text text-muted"><%= user.email %> </p>
          Phone Number:<p class="card-text text-muted"><%= user.phone_number %></p>
        </div>
        <%= link_to('Follow', user_follow_path(user), method: :post, class: 'btn btn-success') %>
      </div>
    <% end %>
  </div>
