<div class="row">
  <div class="col-lg-6">
    <div class="card">
    <%= render('user/user_card_header', user: current_user) %>
      <div class="card-body">
        Email:<p class="card-text text-muted"><%= current_user.email %> </p>
        Phone Number:<p class="card-text text-muted"><%= current_user.phone_number %></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <%= form_with(model: [:user, @post], local: true) do |f| %>
          <%= render('layout/form-errors', record: @post) %>
          <div class="form-group">
            <label for="exampleInputEmail1">Text</label>
            <%= f.text_form :body, rows: 5, class: 'form-control', placeholder="Type you text..." %>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        <% end %>
      </div>
    </div>

    <% current_user.post.order(created_at: :desc).each do |post| %>
      <%= render 'user/post_card', post: post %>
    <% end %>
  </div>
</div>